<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/EstilosPersonal.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <title>@ViewBag.Title - TITULACION</title>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <h6>TALLER DE EQUIPOS INFORMATICOS - <b>2342-Grupo 2 CFLO</b></h6>
    <nav class="navbar bg-dark navbar-expand-lg border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">D</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../Home/Index">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../TBL_Trabajo/IndexE">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Views/Home/Contact.cshtml">d</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Informacion
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Nosotros</a></li>
                            <li><a class="dropdown-item" href="#">Acerca de la pagina</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">

                    <a href="~/Views/TBL_Usuario/Login.cshtml">Login</a>
                    <button class="btn btn-outline-success" type="button" onclick="location.href='../TBL_Usuario/Login'">
                        Iniciar Seción
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <hr />
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

</body>
</html>
